
@media (max-width: 600px) {
	.Logo-svg {
		pointer-events: none; 
		position: fixed;
		width: 250px;
		height: 250px;
		top: -450px;
		left: -170px;
	}
}

@media (min-width: 601px) {
	.Logo-svg {
		pointer-events: none; 
		position: fixed;
		width: 300px;
		height: 300px;
		top: -560px;
		left: -930px;
	}
}
